<launch>
    <node 
        name="yolo_detection_node"        
        pkg="yolo_detection_package"     
        type="yolo_detection_node.py"    
        output="screen"                  
        respawn="true"
        args="$(find yolo_detection_package)/scripts/yolo_detection_node.py">               
        <param name="confidence_threshold" value="0.5" type="double"/>
    </node>
    <!-- <node 
        name="nav_node"        
        pkg="yolo_detection_package"     
        type="vln_goal.py"    
        output="screen"                  
        respawn="true"
        args="$(find yolo_detection_package)/scripts/vln_goal.py">           
    </node> -->
</launch>

