<launch>
    <!-- <node 
        name="yolo_detection_node"        
        pkg="VLN_planner"     
        type="yolo_detection_node.py"    
        output="screen"                  
        respawn="true"
        args="$(find VLN_planner)/scripts/yolo_detection_node.py">               
        <param name="confidence_threshold" value="0.5" type="double"/>
    </node> -->
    <node 
        name="nav_node"        
        pkg="VLN_planner"     
        type="vln_goal.py"    
        output="screen"                  
        respawn="true"
        args="$(find VLN_planner)/scripts/vln_goal.py">           
    </node>
</launch>
